<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d878d1">  <td>20/02/28 22:46:07</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Runner.Task1()[pri:0, instance:Projects.CodistanProjects.Java1Tasks.Runner@7494e528]">Task1</td> 
  <td>main@1489069835</td>   <td></td> </tr>
<tr bgcolor="d878d1">  <td>20/02/28 22:46:07</td>   <td>13</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Runner.Task2()[pri:0, instance:Projects.CodistanProjects.Java1Tasks.Runner@7494e528]">Task2</td> 
  <td>main@1489069835</td>   <td></td> </tr>
</table>
