<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c26598">  <td>20/02/29 21:59:26</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Runner.Task1()[pri:0, instance:Projects.CodistanProjects.Java1Tasks.Runner@68bbe345]">Task1</td> 
  <td>main@738433734</td>   <td></td> </tr>
<tr bgcolor="c26598">  <td>20/02/29 21:59:26</td>   <td>12</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Runner.Task2()[pri:0, instance:Projects.CodistanProjects.Java1Tasks.Runner@68bbe345]">Task2</td> 
  <td>main@738433734</td>   <td></td> </tr>
<tr bgcolor="c26598">  <td>20/02/29 21:59:38</td>   <td>11846</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Runner.Task4()[pri:0, instance:Projects.CodistanProjects.Java1Tasks.Runner@68bbe345]">Task4</td> 
  <td>main@738433734</td>   <td></td> </tr>
<tr bgcolor="c26598">  <td>20/02/29 21:59:51</td>   <td>24155</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Runner.Task6()[pri:0, instance:Projects.CodistanProjects.Java1Tasks.Runner@68bbe345]">Task6</td> 
  <td>main@738433734</td>   <td></td> </tr>
</table>
